# ignore certificates
*.pem
*.key
*.crt
*.cert

#ignore config file
tasks.json

# ignore .vscode configuration
.vscode/

# ignore IntelliJ configuration
.idea/

# ignore Visual Studio configuration
.vs/
obj/
bin/
*.sln
*.njsproj
